:root {
       --bc-main: linear-gradient(135deg, #667eea 0%, #764ba2 100%); 
        --color-font: #000;
        --bc-card: rgba(255, 255, 255, 0.95);
        --shadow: rgba(0, 0, 0, 0.2); 

        --primary: #764ba2;
       --sidebar-bg: #2c3e50;
       --content-bg: #f4f7f6;
       --text-light: #ecf0f1;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* box sizing and font sizing  */
*, *::before, *::after {
    box-sizing: inherit;
}

html {
   box-sizing: border-box;
   /* set font size for easy rem calculations
   default document font size = 16px, 1rem = 16px, 100% = 16px
   ( 100% / 16px ) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
      
   */
   font-size: 62.5%;  
   scroll-behavior: smooth;
}

/* Base reset */
* {
      margin: 0;
      padding: 0;
}

/* box sizing and font sizing  */
*, *::before, *::after {
      box-sizing: inherit;
}

html {
     box-sizing: border-box;
   /*   set font size for easy rem calculations
   default document font size = 16px, 1rem = 16px, 100% = 16px
   ( 100% / 16px ) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
      
   */
     font-size: 62.5%;  
     scroll-behavior: smooth;
}

ul {
     list-style-type: none;
}



body {
      font-family: Arial, sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.4;
      background: var(--bc-main);
      color: var(--color-font);

     display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* ------------------- Main Page -------------------- */
header {
     background-color: var(--sidebar-bg);
      padding: 2.5rem;
     box-shadow: 0 10px 25px var(--shadow);
     width: 100%;
     position: absolute;
     top: 0;
}

header h1 {
     color: white;
}

header nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

nav form {
    flex: .5;
}

.login-container {
     display: flex;
     gap: 10px;
}
.login-container a {
      color: #fff;
      text-decoration: none;
      border: 1px solid black;
}





/*--------------- Login ------------------------------*/
.main-container {
     background: var(--bc-card);
     padding: 2.5rem;
     border-radius: 15px;
     box-shadow: 0 10px 25px var(--shadow);
     width: 100%;
     max-width: 500px;
}

h1 {
    color: #333;
    margin-bottom: 0.5rem;
    font-size: 2.5vw;
}

.subtitle {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 2rem;
}

.form-login {
   text-align: left;
}

.input-group {
    margin-bottom: 1.2rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #555;
    font-weight: 600;
    font-size: 0.85em;
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #764ba2;
    box-shadow: 0 0 0 2px rgba(118, 75, 162, 0.2);
}

.input-group input:focus {
    border-color: #764ba2;
    box-shadow: 0 0 0 2px rgba(118, 75, 162, 0.2);
}

/* Options (Checkbox & Link) */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 0.85em;
}

.remember-me {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #555;
}

.remember-me input {
    margin-right: 8px;
}

.forgot-pass {
    color: #764ba2;
    text-decoration: none;
    font-weight: 500;
}

/* Button Interactive */
.btn {
      display: inline-block;
}
.btn.fill {
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    background: #764ba2;
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

.btn.fill:hover {
    background: #5a3782;
    transform: translateY(-2px);
}

.btn.fill:active {
    transform: translateY(0);
}

/* Footer */
.footer-text {
    margin-top: 1.5rem;
    font-size: 0.85em;
    color: #666;
}

.footer-text a {
    color: #764ba2;
    text-decoration: none;
    font-weight: 600;
}

.footer-text a:hover {
    color: #ba55d3;
}

/*----------------- Register ---------------------*/
/* Password Rules Styling */
.password-rule {
    margin-top: 10px;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 6px;
}

/* Password Toggle Style */
.password-wrap { position: relative; display: flex; align-items: center; }
.btn-toggle {
    position: absolute;
    right: 5px;
    background: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: .55em;
    cursor: pointer;
    color: #764ba2;
}


/*--------------------------Admin-------------------------*/
.main-dashboard-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: 'sidebar main main';
   background-color: #fff;
}

.sidebar-header h1 {
      color: white;
}

.sidebar {
    width: 260px;
    background-color: var(--sidebar-bg);
    height: 100vh;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    font-size: .8em;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0,0.2);
}

.nav-menu {
    flex: 1;
    padding: 20px 0;
}

.nav-menu a {
     font-size: 1em;
}
.nav-item, .dropdown-btn {
    display: block;
    width: 100%;
    padding: 15px 25px;
    color: var(--text-light);
    text-decoration: none;
    border: none;
    background: none;
    text-align: left;
    font-size: 2em;
    cursor: pointer;
    transition: 0.3s;
}

.nav-item:hover, .dropdown-btn:hover {
    background-color: var(--primary);
}

/* Dropdown Logic Style */
.dropdown-container {
    display: none; /* Sembunyi secara default */
    background-color: #34495e;
    padding-left: 20px;

}
.dropdown-container a {
    display: block;
    padding: 12px;
    color: #bdc3c7;
    text-decoration: none;
    font-size: 0.9em;
}

.show {
    display: block; 
}

.arrow {
    display: inline-block; /* Penting agar transform bisa bekerja */
    transition: transform 0.3s ease; /* Durasi animasi 0.3 detik */
/*    margin-left: 5px;*/
}

/* Main Content Styling */
.main-content {
   width: 100%;
    width: calc(100vw + 100%);
    min-height: 100vh;
    grid-area: main;
    background-color: #fff;
}

.top-bar {
    width: calc(100vw - 300px);
    background: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.user-profile img {
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
}

.content-body { padding: 30px; }

.nav-item, .dropdown-btn {
    display: block;
    width: 100%;
    padding: 15px 25px;
    color: var(--text-light);
    text-decoration: none;
    border: none;
    background: none;
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.search-box {
      width: 50%;
}

/* data barang */
.main-data-barang {
      display: flex;
      flex-direction: column;
      background: var(--bc-card);
     padding: 2.5rem;
     border-radius: 15px;
     box-shadow: 0 10px 25px var(--shadow);
     width: 100%;
     gap: 10px;
}

.form-cari {
     display: flex;
    align-items: center;
    justify-content: space-between;
}

table {
    background-color: #fff;
    border-collapse: collapse;
}

table, th, td {
      border: 1px solid var(--primary);
      padding: 8px 20px;
}

.menu-barang {
      display: flex;
      gap: 20px;
}
.menu-barang a {
      text-decoration: none;
      color: var(--primary);
}

.menu-barang a:hover {
    color: #ba55d3;
}

.insert {
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.btn.barang {
      width: 8%;
      padding: 5px;
      font-size: .8em;
}




td a.aksi{
      display: block;
       text-decoration: none;
       width: 5%;
       text-align: center;
       font-size: .3em;
       margin-top: 10px;
}

.nav-pagination a { 
   text-decoration: none;
   border-radius: 100%;
  background-color: var(--primary);
  color: #fff;
   width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px 12px;
   display: block;
  font-size: 14px;
  font-weight: 500;
 }
.nav-pagination {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
}

.nav-pagination .prev {
     border-radius: 50px 0 0 50px;
    width: 100px;
}

.nav-pagination .next {
      border-radius: 0 50px 50px 0;
  width: 100px;
}

.nav-pagination a:hover{
  background-color: #FFA100;
  color: #fff;
  font-weight: 1000;
  transform: translateY(8px);
  transition: all .3s ease-out;
}

/* -----------------------------insert--------------------- */
#kategori {
      display: block;
      width: 100%;
      padding: 10px;
}
